<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>

  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Hype Base</h1>
      <p class="lead">Get hyped</p>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
