<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>

  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Template with fixed navbar</h1>
      <p class="lead">
        A starter template with a navbar HTML and CSS. A fixed navbar has been added with padding-top: 60px; on the main
        > .container.
      </p>
    </div>
  </main>
  <%- include('partials/footer') %>
