<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>

  <main class="flex-shrink-0">
    <div class="container">
      <div class="container-fluid sign-up">
        <h1>Welcome back!</h1>
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-10">
            <form class="entry-form-container" action="/login" method="POST">
              

              <div class="row">
                <div class="col-10">
                  <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" name="email" id="email" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" name="password" id="password" />
                  </div>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <br /><br />
                  <a href="/signup">New? Click here to register</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
